@using AppointmentBuddy.Core.Model
@model CollectionDataModel

<h2>Add a Specialist</h2>
<form asp-action="AddSpecialist" method="post">
    <div class="form-group">
        <label for="Name">Name:</label>
        @Html.TextBoxFor(x => x.modelSpec.Name)
    </div>
    <div class="form-group">
        <label for="Name">NRIC:</label>
        @Html.TextBoxFor(x => x.modelSpec.NRIC)
    </div>
    <div class="form-group">
        <label for="Name">Contact:</label>
        @Html.TextBoxFor(x => x.modelSpec.Contact)
    </div>
    <div class="form-group">
        <label for="Name">Available:</label>
        @Html.DropDownListFor(x => x.modelSpec.Available, new SelectList(Model.Available, "Value", "Text"))
    </div>
    <div class="form-group">
        <label for="Name">Services:</label>
        @Html.DropDownListFor(x => x.modelSpec.Services, new SelectList(Model.Service, "Id", "Description"))
    </div>
    <div class="form-group">
        <label for="Name">Address:</label>
        @Html.TextBoxFor(x => x.modelSpec.Address)
    </div>
    <div class="form-group">
        <label for="Name">Email:</label>
        @Html.TextBoxFor(x => x.modelSpec.Email)
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add</button>   <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
    </div>
</form>