@using AppointmentBuddy.Core.Model
@model IEnumerable<Specialist>

<h2>All Specialists</h2>
<form method="post">
    <div class="form-group">
        <label for="id">Get Specialist by Name:</label><input class="form-control" name="Name" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Submit</button>
    </div>
</form>

@if (Model != null)
{
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>NRIC</th>
                <th>Service</th>
                <th>Contact</th>
                <th>Available</th>
                <th>Address</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                @if (r.IsDeleted == false)
                {
                    <tr>
                        <td>@r.Id</td>
                        <td>@r.Name</td>
                        <td>@r.NRIC</td>
                        <td>@r.ServiceDescription</td>
                        <td>@r.Contact</td>
                        @if (r.Available == true)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>@r.Address</td>
                        <td>@r.Email</td>
                        <td>
                            <a asp-action="UpdateSpecialist" asp-route-id="@r.Id">
                                <img src="/icon/edit.png" />
                            </a>
                        </td>
                        <td>
                            <form asp-action="DeleteSpecialist" method="post">
                                <input type="hidden" value="@r.Id" name="SpecialistId" />
                                <input type="image" src="/icon/close.png" />
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
<div class="form-group" align="center">
    <a asp-action="AddSpecialist" class="btn btn-sm btn-primary">Add Specialist</a>
</div>
