@using AppointmentBuddy.Core.Model
@model CollectionDataModel

<h2 align="center">Update Specialist Detail</h2>
<form asp-action="UpdateSpecialist" method="post">
    @foreach (var r in Model.Specialist)
    {
        <div align="center">
            <div class="col-md-4">
                <label for="Name">Name:</label>
                @Html.TextBox(Html.NameFor(p => p.modelSpec.Name).ToString(), r.Name, new { @class = "input-group-text" })
            </div>
            <div class="col-md-4">
                <label for="Name">NRIC:</label>
                @Html.TextBox(Html.NameFor(p => p.modelSpec.NRIC).ToString(), r.NRIC, new { @class = "input-group-text" })
            </div>
            <div class="col-md-4">
                <label for="Name">Contact:</label>
                @Html.TextBox(Html.NameFor(p => p.modelSpec.Contact).ToString(), r.Contact, new { @class = "input-group-text" })
            </div>
            <div class="col-md-4">
                <label for="Name">Available:</label>
                @Html.DropDownListFor(x => x.modelSpec.Available, new SelectList(Model.Available, "Value", "Text"), new { @class = "input-group-text" })
            </div>
            <div class="col-md-4">
                <label for="Name">Services:</label>
                @Html.DropDownListFor(x => x.modelSpec.Services, new SelectList(Model.Service, "Id", "Description"), new { @class = "input-group-text" })
                @Html.HiddenFor(m => m.Service)
            </div>
            <div class="col-md-4">
                <label for="Name">Address:</label>
                @Html.TextBox(Html.NameFor(p => p.modelSpec.Address).ToString(), r.Address, new { @class = "input-group-text" })
            </div>
            <div class="col-md-4">
                <label for="Name">Email:</label>
                @Html.TextBox(Html.NameFor(p => p.modelSpec.Email).ToString(), r.Email, new { @class = "input-group-text" })
            </div>
            @Html.Hidden(Html.NameFor(p => p.modelSpec.Id).ToString(), r.Id)
            <br><br>
            <div class="col-md-4">
                 <button type="submit" class="btn btn-sm btn-primary">Update</button>&nbsp;&nbsp;<a asp-action="Index" class="btn btn-sm btn-secondary">Back</a>
            </div>
        </div>
        }
</form>