@using M = AppointmentBuddy.Core.Model
@using AppointmentBuddy.Core.Common.Helper

@model NUS_ISS_14_Appointment_Buddy.Models.ResultViewModel<M.Appointment>

@{ 
    string curId = User.Claims.FirstOrDefault(c => c.Type == Constants.AppClaimTypes.Id).Value;
}

<div class="editQuan _goods">
    <div class="display">
        <div class="based-table view-goods _edit">
            <table class="table" id="apptTable" style="overflow: auto !important; overflow-x: auto !important;">
                <thead class="">
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Name</th>
                        <th scope="col">Appointment Date</th>
                        <th scope="col">Appointment Start Time</th>
                        <th scope="col">Appointment End Time</th>
                    </tr>
                </thead>
                <tbody>
                    @{int count = 1 + (10 * (Model.PaginationInfo.PageNumber - 1));}
                    @foreach (var appt in Model.ListItems)
                    {
                        bool timeValid = TimeSpan.TryParse(appt.AppointmentTime, out TimeSpan apptTime);
                        var endTime = apptTime.Add(new TimeSpan(0, 0, 1800));
                        <tr>
                            <td>@count</td>
                            @if (!string.IsNullOrEmpty(appt.Name))
                            {
                                if (appt.UserId == curId)
                                {
                                    <td><a href="@Url.ActionLink("RescheduleAppointment", "Appointment", new { apptId = appt.AppointmentId })">@appt.Name</a></td>
                                }
                                else
                                {
                                    <td><a href="@Url.ActionLink("UpdateAppointment", "Appointment", new { apptId = appt.AppointmentId })">@appt.Name</a></td>
                                }
                            }
                            else
                            {
                                <td>
                                    <a href="@Url.ActionLink("UpdateAppointment", "Appointment", new { apptId = appt.AppointmentId })">Assign</a> /
                                    <a href="@Url.ActionLink("AddAppointment", "Appointment", new { apptId = appt.AppointmentId })">Edit</a>
                                </td>
                            }
                            <td>@appt.AppointmentDate.GetValueOrDefault().ToString("dd/MM/yyyy")</td>
                            <td>@appt.AppointmentTime</td>
                            <td>@endTime.ToString("%h"):@endTime.ToString("mm")</td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="results-pagination">
    <span>Page</span>
    <ul>
        @for (var i = Model.PaginationInfo.FirstPageNumber; i <= Model.PaginationInfo.LastPageNumber; i++)
        {
            <li class="page-item @(i == Model.PaginationInfo.PageNumber ? "active" : "")">
                @if (i != Model.PaginationInfo.PageNumber)
                {
                    <a asp-controller="Appointment"
                       asp-action="GetAppointmentPage"
                       asp-route-page="@i"
                       asp-route-dateFrom="@ViewData["DateFrom"]"
                       asp-route-dateTo="@ViewData["DateTo"]"
                       asp-route-partialV="_AppointmentResults"
                       data-target="appts"
                       class="paginationButton">
                        @i
                    </a>
                }
                else
                {
                    @i
                }
            </li>
        }
    </ul>
</div>

<script type="text/javascript" nonce="@ViewData["Nonce"]">
    $(".paginationButton").click(function (e) {
        e.preventDefault();
        var _this = $(this);
        $.get(_this.attr("href"), function (res) {
            $('#' + _this.data("target")).html(res);
        });

        $(window).scrollTop(0);
    });
</script>