@using AppointmentBuddy.Core.Common.Helper
@model NUS_ISS_14_Appointment_Buddy.Models.Appointment

@{
    ViewData["Title"] = "Assign Appointment";
}
@using (Html.BeginForm("SaveAppointment", "Appointment", FormMethod.Post, new { @id = "AppointmentForm" }))
{
    @Html.AntiForgeryToken()

    <div class="_page-essentials">
        <div class="well">
            <div class="_content">
                <h2>Reschedule / Cancel Appointment</h2>
            </div>
        </div>
        <div class="_step-body">
            <div class="_content">
                <div class="_project-content">
                    <div class="bids-width">
                        <div class="row">
                            <div class="col-md-4">
                                Appointment Date and Time:
                            </div>
                            <div class="col-md-4">
                                @Html.DisplayFor(x => x.AppointmentDate) @Html.DisplayFor(x => x.AppointmentTime)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Available Appointments:
                            </div>
                            <div class="col-md-8">
                                <div class="category-container">
                                    <div class="_form-group">
                                        @Html.DropDownListFor(model => model.NewAppointmentId, (IEnumerable<SelectListItem>)ViewBag.AvailableAppointments, "Please Select Available Timeslot",
                                        new { @class = "_category wide", id = "apptDrop" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="_project-content">
                    <div class="bids-width _contact-details">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="autosave-container">
                                    <div class="autosave-wrapper">
                                        <h4 class="autosave-msg"></h4>
                                        <div class="_nxt-prv">
                                            <button class="_transparent" id="cancelBtn">cancel my appointment</button>
                                            <button class="red-btn" id="reschBtn">reschedule</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <partial name="_ErrorModal" />
            <partial name="_ConfirmModal" />
            <partial name="_DeleteModal" />
            <partial name="_SubmitModal" />
            <partial name="_SavingModal" />
            @Html.HiddenFor(x => x.AppointmentId)
            @Html.HiddenFor(x => x.NewAppointmentId)
            @Html.HiddenFor(x => x.AppointmentDate)
            @Html.HiddenFor(x => x.AppointmentTime)
            @Html.HiddenFor(x => x.UserId)
            @Html.HiddenFor(x => x.Name)
        </div>
    </div>
}

<script type="text/javascript" nonce="@ViewData["Nonce"]">
    $(document).ready(function () {
        $('#AppointmentForm').submit(function (e) { e.preventDefault(); });

        $('#reschBtn').click(function () {
            this.blur();

            $('#cfmMsg').text('Rescheduling Appointment');
            document.getElementById('confirmationBox').style.display = 'block';
        });

        $('#apptDrop').change(function () {
            $('#NewAppointmentId').val(this.value);
        });

        $('#cancelBtn').click(function () {
            this.blur();

            $('#cfmDeleteMsg').text('Cancelling Appointment');
            document.getElementById('deletionBox').style.display = 'block';
        });

        $('#confirmDeleteBox').click(function () {
            document.getElementById('deletionBox').style.display = 'none';
            CancelAppointment();
        });

        $('#confirmBox').click(function () {
            var formData = $('#AppointmentForm').serializeArray();
            document.getElementById('confirmationBox').style.display = 'none';
            var savingModal = document.getElementById("savingInProgress");
            savingModal.style.display = "block";

            $.ajax({
                type: 'POST',
                data: formData,
                dataType: 'json',
                url: '@Url.Action("SetNewAppointment", "Appointment")',
                success: function (result) {
                    savingModal.style.display = "none";

                    if (result.successVal == '@Constants.ErrorCodes.Success') {
                        document.getElementById('submitSuccessBox').style.display = 'block';
                    }
                    else {
                        $(window).scrollTop(0);
                        document.getElementById("errorMsgValue").innerHTML = result.autosaveDate;
                        document.getElementById("errorMsgBox").style.display = "block";
                    }
                },
                error: function () {
                    savingModal.style.display = "none";
                    document.getElementById("errorMsgBox").style.display = "block";
                }
            });
        });

        $('#closeBox').click(function () {
            document.getElementById('submitSuccessBox').style.display = "none";

            window.location.href = '@Url.Action("ViewMyAppointments", "Appointment")';
        });

        $('#closeErrorBox').click(function () { document.getElementById('errorMsgBox').style.display = 'none'; });
        $('#cancelBox').click(function () { document.getElementById('confirmationBox').style.display = 'none'; });
        $('#cancelDeleteBox').click(function () { document.getElementById('deletionBox').style.display = 'none'; });

    });

    function CancelAppointment() {
        var formData = $('#AppointmentForm').serializeArray();

        var savingModal = document.getElementById("savingInProgress");
        savingModal.style.display = "block";

        $.ajax({
            type: 'POST',
            data: formData,
            dataType: 'json',
            url: '@Url.Action("CancelAppointment", "Appointment")',
            success: function (result) {
                savingModal.style.display = "none";

                if (result.successVal == '@Constants.ErrorCodes.Success') {
                    document.getElementById('submitSuccessBox').style.display = 'block';
                }
                else {
                    $(window).scrollTop(0);
                    document.getElementById("errorMsgValue").innerHTML = result.autosaveDate;
                    document.getElementById("errorMsgBox").style.display = "block";
                }
            },
            error: function () {
                savingModal.style.display = "none";
                document.getElementById("errorMsgBox").style.display = "block";
            }
        });
    }
</script>

