@using NUS_ISS_14_Appointment_Buddy.Helper
@using AppointmentBuddy.Core.Common.Helper
@using System.Security.Claims

@{ 
    bool isAdmin = IdentityHelper.HasRole((ClaimsIdentity)User.Identity, Constants.RoleType.Admin);
}

<div class="_sidenav">
    <div class="side-container">
        <div class="side-admin">
            <div class="menu-admin">
                <div class="left-admin">
                    <p>
                        @User.Identity.Name <br>
                        <span>XXX Hospital</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="list-container">
            <div class="menu-list">
                <ul>
                    <li>@Html.ActionLink("Dashboard", "Index", "Home", null, new { id = "dashboardMenu" })</li>
                    <li><a href="javascript:void(0)" id="mobsetup">Administration</a></li>
                    <li class="quick-pad-right mobsetupcontent content">
                        @Html.ActionLink("Manage Appointments", "Index", "Appointment", null, new { id = "mobApptMenu" })
                        @Html.ActionLink("Create Appointment", "AddAppointment", "Appointment", null, new { id = "mobAddApptMenu" })
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobile-admin-tool">
            <div class="_tool-wrapper">
                @Html.ActionLink("Logout", "SignOut", "Account", new { }, new { @id = "mobSignout" })
            </div>
        </div>
    </div>
</div>
<div class="mobile-menu">
    <div class="_content">
        <div class="mobile-master">
            <div class="icon-image">
                <a href="@Url.Action("Index", "Admin")"> <img src="~/img/ablogo.PNG" alt="AB" /></a>
            </div>
            <div id="menu-icon" class="burger-holder" data-visible="false">
                <div class="burger-icon">
                    <i id="cross-icon" class="fas fa-times cross-icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <header>
        <div class="mid-header">
            <div class="_content">
                <div class="anc-container">
                    <a href="@Url.Action("Index", "Admin")">
                        <img src="~/img/ablogo.PNG" alt="AB" width="250" height="40"/>
                    </a>
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                    <h4></h4>
                </div>
            </div>
        </div>
        <div class="below-header">
            <div class="_content">
                <div class="master-menu">
                    <div class="master-left">
                        <ul>
                            <li>@Html.ActionLink("Dashboard", "Index", "Home", null, new { @id = "webDashboardMenu" })</li>
                            <li class="_has-dropdown itq">
                                <a href="javascript:void(0)">
                                    Appointments <i class="fas fa-caret-down"></i>
                                </a>
                                <div class="master-menu-sub itq-drops">
                                    <div class="_sub-menu">
                                        @Html.ActionLink("Manage Appointments", "Index", "Appointment", null, new { id = "apptMenu" })
                                        @Html.ActionLink("Create Appointment", "AddAppointment", "Appointment", null, new { id = "addApptMenu" })
                                    </div>
                                </div>
                            </li>
                            <li class="_has-dropdown itq">
                                <a href="javascript:void(0)">
                                    Patient Info <i class="fas fa-caret-down"></i>
                                </a>
                                <div class="master-menu-sub itq-drops">
                                    <div class="_sub-menu">
                                        @Html.ActionLink("Create Patient", "Index", "PatientInfo", null, new { id = "patMenu" })
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="master-right">
                        <div class="admin-tools">
                            <ul>
                                <li>
                                    <div class="admin-panel" id="adminPanel">
                                        <h3>
                                            @User.Identity.Name<br>
                                            <span>XXX Hospital</span>
                                        </h3>
                                        <div class="admin-drops">
                                            <div class="admin-wrapper">
                                                <ul class="quick-logout-right">
                                                    <li>@Html.ActionLink("Logout", "SignOut", "Account", new { }, new { @id = "signout" })</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>

<script nonce="@ViewData["Nonce"]">
    $.ajaxSetup({ cache: false });
</script>
