@using NUS_ISS_14_Appointment_Buddy.Helper
@using AppointmentBuddy.Core.Common.Helper
@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NUS_ISS_14_Appointment_Buddy</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/js/vendor/jquery-ui-1.12.1/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/lib/jquery.timeentry.package-2.0.1/jquery.timeentry.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css">
    <link rel="stylesheet" href="~/lib/jquery-nice-select-1.1.0/css/nice-select.css">
    <link rel="stylesheet" href="~/lib/toggle-switch/css/ui-toggle.css">
    <link rel="stylesheet" href="~/lib/mcustomscrollbar/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="~/lib/jquery-flexdatalist-2.2.4/jquery.flexdatalist.css">
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/js/vendor/modernizr-3.6.0.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/jquery/dist/jquery.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/js/vendor/jquery-3.4.1.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/js/webcomponentsjs/webcomponents-bundle.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/mcustomscrollbar/jquery.mCustomScrollbar.js" nonce="@ViewData["Nonce"]"></script>

    <script src="~/js/vendor/jquery-ui-1.12.1/jquery-ui.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/js/vendor/slick.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/fontawesome/js/all.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/jquery-nice-select-1.1.0/js/jquery.nice-select.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/bootstrap-4.3.1-dist/js/popper.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/toggle-switch/js/jquery.toggler.js" nonce="@ViewData["Nonce"]"></script>

    <script src="~/lib/textarea-wordcount/textcounter.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/jquery-flexdatalist-2.2.4/jquery.flexdatalist.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/jquery.timeentry.package-2.0.1/jquery.plugin.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/lib/jquery.timeentry.package-2.0.1/jquery.timeentry.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/js/pluginsMap.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/js/main.js" asp-append-version="true" nonce="@ViewData["Nonce"]"></script>
    <script src="~/js/site.js" nonce="@ViewData["Nonce"]"></script>
    <script src="~/js/download.js" nonce="@ViewData["Nonce"]"></script>
    <script type="text/javascript" src="~/js/validation.js" nonce="@ViewData["Nonce"]"></script>

    @RenderSection("styles", false)
    @RenderSection("MetaTags", false)
</head>
<body id="content" style="font-size: 16px">
    <header>
        @if (IdentityHelper.HasRole((ClaimsIdentity)User.Identity, Constants.RoleType.Admin)
           || IdentityHelper.HasRole((ClaimsIdentity)User.Identity, Constants.RoleType.Staff))
        {
            <partial name="_AdminHeader" />
        }
        else if (IdentityHelper.HasRole((ClaimsIdentity)User.Identity, Constants.RoleType.Patient))
        {
            <partial name="_Header" />
        }
        else
        {
            <partial name="_DefaultHeader" />
        }
    </header>
    <div class="_page-wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer">
        <partial name="_Footer" />
    </footer>
</body>
</html>
