@using NUS_ISS_14_Appointment_Buddy.Helper
@using AppointmentBuddy.Core.Common.Helper
@using M = AppointmentBuddy.Core.Model
@using System.Security.Claims
@model NUS_ISS_14_Appointment_Buddy.Models.PatientInfo

@{
    ViewData["Title"] = "Add/Update Patient Infomation";
    M.PatientInfo patInfo = (M.PatientInfo)ViewData["patItem"];
    List<string> titles = (List<string>)ViewBag.Titles;
    List<string> genders = (List<string>)ViewBag.Genders;
}
@using (Html.BeginForm("SavePatientInfoById", "PatientInfo", FormMethod.Post, new { @id = "PatientInfoForm" }))
{
    <div class="_page-essentials">
        @Html.AntiForgeryToken()
        <div class="well">
            <div class="_content">
                <h2>Add/Update Patient Information</h2>
            </div>
        </div>
        <div>
            <button class="_transparent delete-strikethrough" style="float:left">
                @Html.ActionLink("Confirm Death", "DeactivatePatientInfoById", "PatientInfo",
                new { confirm = true, patId = Model.PatientId },
                new { Style = "color:White;", onclick = "return confirm('Are you confirm death of this patient?')" })
            </button>
        </div>
        <div class="editQuan _goods">
            <div class="display">
                <div class="based-table view-goods _edit">
                    <table class="table" id="apptTable" style="overflow: auto !important; overflow-x: auto !important;">
                        <tbody>
                            <tr style="color:red">@ViewBag.Info</tr>
                            <tr>
                                <td scope="col">Title:</td>
                                <td></td>
                                @*<td>
                                    @Html.DropDownListFor(x => x.Title, (IEnumerable<SelectListItem>)ViewBag.Titles, "Please select a title");;
                                </td>*@
                                <td>
                                    <div>
                                        <select name="title" id="title">
                                            @if (patInfo.Title != "")
                                            {
                                                <option>@patInfo.Title</option>
                                            }
                                            @foreach (string title in titles)
                                            {
                                                if (title != patInfo.Title)
                                                {
                                                    <option>@title</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">Name:</td>
                                <td style="color:red">*</td>
                                <td>
                                    @Html.TextBoxFor(x => x.PatientName, patInfo.PatientName)
                                    @Html.ValidationMessageFor(x => x.PatientName, "", new { style = "color:red" })
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">NRIC:</td>
                                <td style="color:red">*</td>
                                <td>
                                    @Html.TextBoxFor(x => x.NRIC, patInfo.NRIC)
                                    @Html.ValidationMessageFor(x => x.NRIC, "", new { style = "color:red" })
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">Gender:</td>
                                <td></td>
                                @*<td>
                                    @Html.DropDownListFor(x => x.Gender, (IEnumerable<SelectListItem>)ViewBag.Genders, "Please select a gender")
                                </td>*@
                                <td>
                                    <div>
                                        <select name="gender" id="gender">
                                            @if (patInfo.Gender != "")
                                            {
                                                <option>@patInfo.Gender</option>
                                            }
                                            @foreach (string gender in genders)
                                            {
                                                if (gender != patInfo.Gender)
                                                {
                                                    <option>@gender</option>
                                                }
                                            }
                                        </select>
                                    </div>
                            </tr>
                            <tr>
                                <td scope="col">Birth Date:</td>
                                <td></td>
                                <td>
                                    <input id="BirthDate" data-toggle="datepicker" type="text" class="form-control" placeholder="dd/mm/yyyy" value="@patInfo.BirthDate" autocomplete="off" maxlength="10">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="BirthDateIcon"><i class="far fa-calendar-alt"></i></span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td scope="col">Contact Number:</td>
                                <td></td>
                                <td>
                                    @Html.TextBoxFor(x => x.ContactNumber, patInfo.ContactNumber)
                                </td>
                            </tr>
                            @Html.HiddenFor(x => x.PatientId, patInfo.PatientId)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="_project-content">
            <div class="bids-width _contact-details">
                <div class="row">
                    <div class="col-md-12">
                        <div class="autosave-container">
                            <div class="autosave-wrapper">
                                <h4 class="autosave-msg"></h4>
                                <div class="_nxt-prv">
                                    <button class="_transparent cancelBtn" id="calcelBtn" style="justify-content:center">cancel</button>
                                    <input class="red-btn" type="submit" value="Save" style="float:right">
                                    <button class="_transparent delete-strikethrough" style="float:left">
                                        @Html.ActionLink("Delete Patient", "DeletePatientInfoById", "PatientInfo",
                                         new { confirm = true, patId = Model.PatientId },
                                         new { Style = "color:White;", onclick = "return confirm('Are you sure to delete this patient?')" })
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

